/* Credits: Most of the code comes from Code Institute tutorials, which I followed and repeated throughout the project development. */
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Lexend';
    --secondary-font: 'Roboto';
    --title-font: 'Zen Dots';
    --primary-color: #003459 /* dark blue */;
    --secondary-color: #BDDEFF /* light blue*/;
}

/* Global styles */

body {
    font-family: var(--primary-font);
    padding-top: 58.15px; /* pushes the top of the header down under fixed navbar */
}

h1 {
    font-family: var(--title-font);
    color: var(--primary-color);
}

.lead, h2, h3 {
    font-family: var(--secondary-font);
}

h2 {
    margin-bottom: 2rem;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

hr {
    color: var(--primary-color);
}

/* Buttons */
.custom-button {
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.25rem;
}

.custom-button:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 1.25rem;
}

/* Navbar */
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 2rem;
}

#navbar .nav-item {
    font-size: 1.25rem;
}

/* Header */
#header .lead {
    font-family: var(--secondary-font);
}

/* Events */
#events h3 {
    color: var(--primary-color);
}

/* Footer/ Contact */

#contact {
    background-color: var(--primary-color);
    color: white;
}

#contact h3 {
    color: var(--secondary-color);
    text-transform: uppercase;
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    font-size: 2.2rem;
    transition: color 0.2s ease-in-out;
}

#contact .social-links i:hover {
    color: white;
}

/* Credits Code institute tutorial; Media  queries */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* Make all events cards the same height for consistency */
    #events .card-body {
        min-height: 190.48px;
    }    
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {
    /* Make all events cards the same height for consistency */
    #events .card-body {
        min-height: auto;
    }    
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    /* Make all events cards the same height for consistency */
    #events .card-body {
        min-height: 251.19px;
    }    
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
    /* Make all events cards the same height for consistency */
    #events .card-body {
        min-height: 217.59px;
    }    
}