/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&family=Limelight&display=swap');

body {
    color: white;
    background-color: red;
    font-family: 'Lexend';
}

h1 {
    font-family: 'Limelight' ;
}